html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
  }


  .search-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 1rem;
  }
  .search-bar-buttons {
    display: flex;
    flex-wrap: wrap;
  }


  @media (max-width: 390px) {
  .map {
  position: "relative",
    width: 30%;
    top: 10rem;
    margin-top: 50%;
  }
  .property-detail-container {
  position: "absolute",
    width: 70%;
    overflow: auto;
  }
}

@media (min-width: 390px) {
  .map {
  position: "relative",
    width: 70%;
    top: 10rem;
  }
  .property-detail-container {
  position: "absolute",
    width: 30%;
    overflow: auto;
  }
}

.mapscreen{
display: flex;
}
.map{
width: 60%;
}



