<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  map {
        height: 500px;
        width: 100%;
      }

  /* set the styles for the marker */
  .rectangle-marker {
    position: absolute;
    width: 80px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

</style>
